*{
  margin: 0;
  padding: 0;
}
.App{
  margin-right: 0;
  padding-right: 0;
}
.iconsText{
  margin-right: 19px;
  display: inline-flex;
  height: 2rem;
  margin-top: 13px;
  width: 6.2rem;
  /* fill: #3a77ff; */
}
.iconsText:hover{
  fill: #3a77ff;
  cursor: pointer;

}
.newIconsText{
  display: flex;
  height: 3.2rem;
  padding: 17px;
  margin-left: 17px;
}
.inputTextField{
  display: flex;
  position: absolute;
  margin-top: -63px;
  margin-left: 142px;
  border: 2px solid #002f34;
  width: 245px;
  height: 45px;
  border-radius: 6px;
  /* fill : #002f34 */
}
.inputText{
  display: flex;
  position:relative ;
  margin-top: -63px;
  margin-left: 402px;
  border: 2px solid #002f34;
  width: 45pc;
  height: 45px;
  border-radius: 6px;
  /* fill: #002f34; */
}
.btnSearch{
  display: flex;
  position: relative;
  margin-top: -47px;
  margin-left: 68pc;
  width: 2.3rem;
  height: 3.4em;
  color: white;
  background-color: #002f34;
}
.searchIcon{
  display:inherit;
  position: inherit;
  margin-top: 12px;
  margin-left: 8px;
  width: inherit;
  height: inherit;
}
.btnTxt{
  color: #002f34;
  margin-left: 72pc;
  margin-top: -33px;
  display: inherit;
  background: none;
  border: none;
  font-size: x-large;
  font-weight: bolder;
}
.btnSell{
  display: flex;
  margin-left: 39pc;
  border: none;
  background: none;
  margin-top: -20px;
  font-size: larger;
  font-weight: bolder;
  color: #002f34;
}
.addIcon{
  display: flex;
  margin-left: -80px;
  margin-top: -2px;
  font-size: larger;
  color: #002f34;
  font-weight: bolder;
}
.Navbar ul li{
  display: inline-flex;
  list-style: none;
  margin-left: 65px;
  margin-top: 33px;
}
.Navbar ul li:hover{
  color:#3a77ff;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.BannerImage{
  flex-direction: row;
  will-change: scroll-position;
  display: flex;
  transition: all 0.5s ease-in-out  ;
  direction: ltr;
  margin-top: 25px;
  /* transform: translateX(-75%,2px); */
  animation: 3s ease-in 1s infinite reverse both running slidein;
}
.Image{
  object-fit: cover;
  overflow: auto;
  flex-direction: row;
  /* will-change: scroll-position; */
  display: flex;
  /* transition: all 0.5s ease-in 0.5s  ; */
  direction: ltr;
  margin-top: -4px;
  /* transform: translateX(-75%,2px); */
  margin-left: 33px;
}
.recomTitle{
  display:flex;
  color:#002f34;
  font-size: x-large;
  font-weight: bold ;
  margin-left: 4pc;
 position: relative;
 margin-top: 9px;
}